{% extends "admin/base_site.html" %}

{% block content %}
  <h1>{{ title }}</h1>
  <table class="adminlist">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
    {% for u in users %}
      <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.first_name }}</td>
        <td>{{ u.last_name }}</td>
      </tr>
    {% empty %}
      <tr><td colspan="5">No users found.</td></tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}


