<div class="flex flex-col gap-6">
  <app-auth-card>
    @if (isSubmitted()) {
      <h1 class="text-3xl text-center font-semibold">
        Check your email
      </h1>

      <div class="text-sm text-center">
        <p>
          we sent a password reset link to {{ emailControl.value }}
        </p>
      </div>

      <div class="flex flex-col gap-2 justify-center items-center text-grey8 text-sm">
        <div class="flex flex-row gap-2 items-center justify-center">
          <span>Didn't receive the email?</span>

          <button (click)="resend()" [disabled]="isResendDisabled()" class="
      text-blue1 font-bold hover:cursor-pointer disabled:cursor-not-allowed disabled:text-grey3 disabled:no-underline hover:underline hover:text-purple5">
            Click to resend
          </button>
        </div>

        @if (isResendDisabled()) {
          <div class="text-sm text-center">
            Retry in {{ countDown() }} seconds
          </div>
        }
      </div>
    } @else {
      <h1 class="text-3xl font-semibold text-center">
        Forgot Password?
      </h1>

      <div class="text-sm text-center">
        No worries, we’ll send you reset instructions.
      </div>

      <form class="flex flex-col gap-7 text-start" [formGroup]="form" (ngSubmit)="submit()">
        <app-input label="Email*" placeholder="Enter your email" formControlName="email">
          <app-control-errors [control]="emailControl"></app-control-errors>
        </app-input>

        <app-button
          [disabled]="form.invalid || form.disabled"
        >
          Reset Password
        </app-button>
      </form>
    }

  </app-auth-card>
</div>
