<div class="flex flex-col h-full bg-gradient-to-b from-green201 to-grey201">
  <div class="text-grey6 w-fit p-7 pl-3 md:pl-7 md:pt-10">
    <a class="flex gap-2 items-center text-base cursor-pointer group" routerLink="/login">
      <ng-icon [strokeWidth]="2" name="heroArrowLeft" size="20" class="flip-rtl"></ng-icon>
      <span class="font-normal group-hover:underline underline-offset-4">{{ 'back_to_login' | translate }}</span>
    </a>
  </div>

  <div class="self-center w-full md:w-96 h-full content-start md:content-center p-7 md:mt-auto">
    <app-forgot-password-form></app-forgot-password-form>
  </div>
</div>
