<div class="flex flex-col h-full">
  <button class="flex flex-row gap-2 p-3 items-center" (click)="back()">
    <ng-icon [strokeWidth]="2" name="heroArrowLeft" size="12" class="flip-rtl"></ng-icon>
    <span class="font-medium text-sm">{{ 'back' | translate }}</span>
  </button>

  <div class="flex flex-col px-7 pt-2 flex-1 overflow-y-auto">
    <h1 class="text-2xl font-semibold text-grey6">{{ 'profile_settings' | translate }}</h1>
    <h3 class="text-sm text-grey6 mb-5">{{ 'modify_your_account' | translate}}</h3>

    <div class="flex flex-col mb-2">
      <app-button-toggle-group class="self-stretch xl:self-center">
        @for (tab of tabs; track tab.id; let first = $first, last = $last) {
          <app-button-toggle
            [selected]="tab.id === selectedTabId()"
            (onClick)="selectTab(tab)"
            [tab]="tab"
            [isLast]="last"
            [isFirst]="first"
            class="grow"
          >
          </app-button-toggle>
        }
      </app-button-toggle-group>

      <div class="pt-7">
        @switch (selectedTabId()) {
          @case (allTabs.AccountDetails) {
            <app-account-details-tab
              (onCancel)="close()"
            ></app-account-details-tab>
          }
          @case (allTabs.Personal) {
            <app-personal-details-tab
              (onCancel)="close()"
            ></app-personal-details-tab>
          }
          @case (allTabs.CurrentPlan) {
            <app-current-plan-tab
              (onCancel)="close()"
              (onUpgrade)="switchToPlansTab()"
            ></app-current-plan-tab>
          }
          @case (allTabs.Plans) {
            <app-plans-tab
              (onCancel)="close()"
            ></app-plans-tab>
          }
          @case (allTabs.Payments) {
            <app-payments-tab
              (onCancel)="close()"
            ></app-payments-tab>
          }
          @case (allTabs.Password) {
            <app-update-password-tab
              (onCancel)="close()"
            ></app-update-password-tab>
          }
        }
      </div>
    </div>
  </div>
</div>
