<div class="flex flex-col gap-6">
  <app-auth-card>
    @if (isSubmitted()) {
      <div class="text-2xl text-center font-bold">
        Password Reset
      </div>

      <div class="text-sm text-center">
        <p>
          Your password has been successfully reset.
        </p>
        <p>
          Click below to log in magically.
        </p>
      </div>

      <div>
        <app-button (onClick)="continue()">Continue</app-button>
      </div>

    } @else {
      <div class="text-2xl text-center">
        Set New Password
      </div>

      <div class="text-sm text-center">
        Your new password must be different to previously used passwords.
      </div>

      <form class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="submit()">
        <app-input
          label="Email"
          placeholder="Enter your email"
          formControlName="email"
        ></app-input>

        <app-input
          [type]="isPasswordVisible() ? 'text' : 'password'"
          placeholder="••••••••"
          label="Password"
          formControlName="password"
        >
          <button class="icon-after pr-3 flex items-center group" (click)="showPassword()" type="button">
            @if (isPasswordVisible()) {
              <img src="assets/icons/eye-slash.svg" class="block group-hover:hidden">
              <img src="assets/icons/eye-slash-navy.svg" class="hidden group-hover:block">
            } @else {
              <img src="assets/icons/eye.svg" class="block group-hover:hidden">
              <img src="assets/icons/eye-navy.svg" class="hidden group-hover:block">
            }
          </button>
        </app-input>

        <app-password-validation-errors
          [control]="form.controls.password"
        ></app-password-validation-errors>

        <app-button
          [disabled]="form.invalid || form.disabled"
        >
          Reset Password
        </app-button>
      </form>
    }
  </app-auth-card>
</div>
