<form
  [formGroup]="form"
  class="bg-white rounded-3xl shadow-lg px-10 py-8 w-full min-w-[28rem] flex flex-col justify-center items-center gap-10"
  (ngSubmit)="submit()"
>
  <div class="flex flex-col gap-2 items-center">
    <h1 class="text-3xl font-semibold text-center">
      Reset user password
    </h1>
  </div>

  <div class="flex flex-col gap-6 w-full">
    <app-input
      type="password"
      placeholder="••••••••"
      label="New Password"
      formControlName="new_password"
      class="w-full"
    ></app-input>

    <app-password-validation-errors
      [control]="form.controls.new_password"
    ></app-password-validation-errors>

    <app-input
      type="password"
      placeholder="••••••••"
      label="Password Confirmation"
      formControlName="confirm_password"
      class="w-full"
    >
      <app-control-errors
        [control]="form.controls.confirm_password"
      ></app-control-errors>

      @if ((form.controls.confirm_password.touched || form.dirty) && form.hasError('mismatch')) {
        <div class="custom-errors">
          <app-error>
            Passwords do not match.
          </app-error>
        </div>
      }
    </app-input>

  </div>

  <div class="flex justify-end w-full space-x-4">
    <app-outline-button
      type="button"
      (click)="close()"
      [disabled]="form.disabled"
    >
      Cancel
    </app-outline-button>
    <app-button
      [disabled]="form.disabled || form.invalid"
    >
      Reset Password
    </app-button>
  </div>
</form>
