<div class="w-72 p-3.5 flex flex-col gap-8 pt-8">
  <app-sidebar-item routerLink="/users" routerLinkActive="/users">
    <app-users-icon class="icon"></app-users-icon>

    <span class="title">
      Users Management
    </span>
  </app-sidebar-item>

  <app-sidebar-item routerLink="/plans" routerLinkActive="/plans">
    <app-documents-icon class="icon"></app-documents-icon>

    <span class="title">
      Plans
    </span>
  </app-sidebar-item>

  <app-sidebar-item routerLink="/subscriptions" routerLinkActive="/subscriptions">
    <app-documents-icon class="icon"></app-documents-icon>

    <span class="title">
      Subscriptions
    </span>
  </app-sidebar-item>

  <app-sidebar-item routerLink="/payments" routerLinkActive="/payments">
    <app-documents-icon class="icon"></app-documents-icon>

    <span class="title">
      Payments
    </span>
  </app-sidebar-item>

  <app-sidebar-item routerLink="/documents" routerLinkActive="/documents">
    <app-documents-icon class="icon"></app-documents-icon>

    <span class="title">
      Docs Management
    </span>
  </app-sidebar-item>

  <app-sidebar-item routerLink="/user-requests" routerLinkActive="/user-requests">
    <app-documents-icon class="icon"></app-documents-icon>

    <span class="title">
      User Requests
    </span>
  </app-sidebar-item>
</div>
