<div class="flex flex-col gap-6">
  @if (isSubmitted()) {
    <h1 class="text-3xl text-grey6 text-center font-semibold">
      {{ 'password_reset' | translate }}
    </h1>

    <div class="text-base font-normal text-grey7 text-center">
      <p>
        {{ 'password_reset_successfully' | translate }}
      </p>
      <p>
        {{ 'login_magically' | translate }}
      </p>
    </div>

    <div>
      <app-button (onClick)="continue()">{{ 'continue' | translate }}</app-button>
    </div>

  } @else {
    <h1 class="text-3xl text-grey6 text-center font-semibold">
      {{ 'set_new_password' | translate }}
    </h1>

    <div class="text-base text-center text-grey7 font-normal">
      {{ 'new_password_different_from_olders' | translate }}
    </div>

    <form class="flex flex-col gap-6" [formGroup]="form" (ngSubmit)="submit()">
      <app-input
        [label]="'labels.email' | translate "
        [placeholder]="'placeholders.email' | translate"
        formControlName="email"
      >
        <app-control-errors
          [control]="form.controls.email"
        ></app-control-errors>
      </app-input>

      <app-input
        [type]="isPasswordVisible() ? 'text' : 'password'"
        placeholder="••••••••"
        [label]="'labels.password' | translate"
        formControlName="password"
      >
        <button class="icon-after px-3 flex items-center" (click)="showPassword()" type="button">
          @if (isPasswordVisible()) {
            <ng-icon name="heroEyeSlash"></ng-icon>
          } @else {
            <ng-icon name="heroEye"></ng-icon>
          }
        </button>
      </app-input>

      <app-password-validation-errors
        [control]="form.controls.password"
      ></app-password-validation-errors>

      <app-button
        [disabled]="form.invalid || form.disabled"
      >
        {{ 'next' | translate }}
      </app-button>
    </form>
  }
</div>
