<form [formGroup]="form" (ngSubmit)="save()" class="flex flex-col max-h-fit ">
  <div class="flex flex-col gap-8 overflow-auto h-full grow flex-1 overflow-y-auto">
    <div class="flex flex-col xl:flex-row gap-6 xl:gap-0">
      <div class="min-w-full xl:min-w-36 text-grey6 font-bold text-sm">
        {{ 'change_password' | translate }}
      </div>

      <div class="text-start flex flex-col gap-6 items-start w-full">
        <app-input
          [label]="'labels.old_password' | translate"
          type="password"
          placeholder="••••••••"
          formControlName="old_password"
          class="w-full"
        >
          <app-control-errors
            [control]="form.controls.old_password"
          ></app-control-errors>
        </app-input>

        <app-input
          type="password"
          placeholder="••••••••"
          [label]="'labels.new_password' | translate "
          formControlName="new_password"
          class="w-full"
        ></app-input>

        <app-password-validation-errors
          [control]="form.controls.new_password"
        ></app-password-validation-errors>

        <app-input
          type="password"
          placeholder="••••••••"
          [label]="'labels.password_confirmation' | translate "
          formControlName="confirm_password"
          class="w-full"
        >
          <app-control-errors
            [control]="form.controls.confirm_password"
          ></app-control-errors>

          @if ((form.controls.confirm_password.touched || form.dirty) && form.hasError('mismatch')) {
          <div class="custom-errors">
              <app-error>
                {{ 'passwords_do_not_match' | translate }}
              </app-error>
          </div>
          }
        </app-input>

        <span class="flex-1"></span>

        <div class="flex flex-row self-end gap-2 xl:gap-4 mb-1">
          <app-outline-button
            (onClick)="onCancel.emit()"
            type="button"
            [disabled]="form.disabled || isSaving()"
          >
            {{ 'cancel' | translate }}
          </app-outline-button>

          <app-button
            type="submit"
            [disabled]="form.disabled || isSaving()"
          >
            {{ 'update_password' | translate }}
          </app-button>
        </div>
      </div>

    </div>
  </div>
</form>
