<div class="flex flex-col justify-center h-full gap-6">
  @if (isSubmitted()) {
    <h1 class="text-3xl text-center text-grey6 font-semibold">
      {{ 'check_your_email' | translate }}
    </h1>

    <div class="text-base text-center text-grey7">
      <p>
        {{ 'reset_link_sent' | translate }}
      </p>
      <p>
        {{ emailControl.value }}
      </p>
    </div>

    <div class="flex flex-col gap-2 justify-center items-center text-grey8 text-sm">
      <div class="flex flex-row gap-2 items-center justify-center">
        <span>{{ "didn't_receive_email" | translate }}</span>

        <button (click)="resend()" [disabled]="isResendDisabled()" class="
      text-blue1 font-bold hover:cursor-pointer disabled:cursor-not-allowed disabled:text-grey3 disabled:no-underline hover:underline hover:text-purple5">
          {{ 'click_to_resend' | translate }}
        </button>
      </div>

      @if (isResendDisabled()) {
        <div class="text-sm text-center">
          {{ 'retry_in' | translate:{seconds: countDown()} }}
        </div>
      }
    </div>

  } @else {
    <h1 class="text-3xl text-center text-grey6 font-semibold">
      {{ 'forgot_password?' | translate }}
    </h1>

    <div class="text-base text-center text-grey7">
      {{ 'forgot_password.label' | translate }}
    </div>

    <form class="flex flex-col gap-6" [formGroup]="form" (ngSubmit)="submit()">
      <app-input [label]="'labels.email' | translate" [placeholder]="'placeholders.email' | translate " formControlName="email">
        <app-control-errors [control]="emailControl"></app-control-errors>
      </app-input>

      <app-button
        [disabled]="form.invalid || form.disabled"
      >
        {{ 'reset_password' | translate }}
      </app-button>
    </form>
  }
</div>
